<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Compatability -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Title and Description -->
    <title>GitCDN</title>
    <meta name="description" content="A free, reliable CDN hosting service, brought to you with the power of Github and Replit.">
    <meta name="author" content="GitCDN team">
    
    <!-- Social media -->
    <meta property="og:title" content="GitCDN">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gitcdn.repl.co">
    <meta property="og:description" content="A free, reliable CDN hosting service, brought to you with the power of Github.">
    <meta property="og:image" content="/img/preview.png">
    
    <!-- Favicons and icons -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/index.css" type="text/css" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>

  <body>
    
    <header>
      <span class="leftLinksContainer floatleft"><img src="/favicon.png" height="25px"/> GitCDN</span>
      <nav class="navbar linksContainer floatright" id="navbar">
        <a href="/">Docs</a>
        <a href="/">Pricing</a>
        <a href="/about" class="importantlink">About</a>
        <a href="/login" class="importantlink">Login</a>
        <a href="/" class="importantlink focuslink">Register</a>
      </nav>
      <img src="/img/menu.svg" id="linksButton" class="floatright" width="30px" height="25px"></img>
    </header>
    
    <main>
      <div class="center vertical-center" id="introduction">
        <h1 id="heading">The fastest way to distribute your assets</h1>
        <p>GitCDN (also known as FreeReplCDN) is a service to help you free up your Replit Account Storage and decrease usage in your Outbound Data Transfer Quota (aka Egress), while allowing you to share files with ease.</p>
      </div>
      <a href="/login"><button class="CSSCenteredButton" id="uploadButton">Start uploading files</button></a>
    </main>
    
    <footer>© 2023 <a href="https://replit.com/@gitcdn" target="_blank">@GitCDN on Replit</a><p>This repl is <b>awake</b>.</p></footer>
    <!-- Scripts -->
    <script type="text/javascript" src="/js/script.js"></script>
    <script src="/js/index.js"></script>
  </body>
</html>
