<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login - GitCDN</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css" />
    <link rel="stylesheet" href="/css/login.css" type="text/css" />
    <script src="https://replit.com/public/js/repl-auth-v2.js"></script>
  </head>

  <body>
    <main>
      <div class="container">
        <h1>GitCDN</h1>
        <h2>Login</h2>
        <button class="CSSCenteredButton" onclick="LoginWithReplit()">
          Login with Replit
        </button>
      </div>
      <footer><a href="https://gitcdn.repl.co">home</a></footer>
    </main>
  </body>
</html>
