<!DOCTYPE html>
<html lang="en-US">
  <head>
    <!-- Compatability -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <style>html{visibility:hidden;opacity:0;}</style>

    <!-- Title and Description -->
    <title>GitCDN</title>
    <meta name="description" content="A free, reliable CDN hosting service, brought to you with the power of Github.">
    <meta name="author" content="py660">
    
    <!-- Social media -->
    <meta property="og:title" content="GitCDN">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://gitcdn.fairuse.org">
    <meta property="og:description" content="A free, reliable CDN hosting service, brought to you with the power of Github.">
    <meta property="og:image" content="/img/preview.png">
    
    <!-- Favicons and icons -->
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.png" type="image/png">
    <link rel="apple-touch-icon" href="/favicon.png">
    
    <!-- Stylesheets -->
    <link rel="preload" href="https://fonts.gstatic.com/s/inter/v13/UcC73FwrK3iLTeHuS_fvQtMwCp50KnMa1ZL7W0Q5nw.woff2" as="font" type="font/woff2" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" type="text/css" crossorigin>
    <link rel="stylesheet" href="/css/style2.css" type="text/css" />
    <style>html{visibility:visible;opacity:1;}</style>
  </head>

  <body>
    
    <header>
      <a href="/"><img src="/img/logocolorful.png" width="75px" alt="Logo"/></a>
      <nav id="navbar" class="floatright">
        <a href="/">Docs</a>
        <a href="/">Limits</a>
        <a href="/">About</a>
        <a href="/login">Login</a>
        <a href="/">Register</a>
        <a id="menu"><img src="/img/menu.svg" id="linksButton" width="30px"/></a>
      </nav>
    </header>
    <main>
      content
    </main>
    <footer>© 2024 py660 - <a href="https://github.com/GitCDNorg/GitCDN" target="_blank">Github Source</a> - <span>This service is <b>operational</b>.</span></footer>
    <script type="text/javascript" src="/js/script2.js"></script>
  </body>
</html>
