/* Default styles */
:root {
  --background-color: white;
  --mid-background-color: #ccc;
  --midground-color: #595959;
  --foreground-color: black;
  --accent-color: #00aeff;
  --positive-color: #ffd030;
  --anti-positive-color: black;
  --negative-color: #ff6666;
  --ambient-glow-color: #a3a3a3;
  --font-family: "Inter", sans-serif;
  --font-weight: 500;
}
@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgb(10, 10, 10);
    --mid-background-color: #222;
    --midground-color: #444;
    --foreground-color: white;
    --accent-color: #005f8c;
    --ambient-glow-color: #262626;
  }
}
html, body {
  background-color: var(--background-color);
  color: var(--foreground-color);
  font-family: var(--font-family);
  padding: 0;
  margin: 0;
  width: 100%;
}
a, a:visited {
  color: var(--foreground-color);
  text-decoration: none;
}
footer a {
  text-decoration: underline;
}

/* || Header */
header:not(.mobile) {
  position: sticky;
  top: 0;
  background-color: var(--positive-color);
  font-size: 25px;
  padding: 10px;
}
header * {
    display: inline-block;
    vertical-align: middle;
}
header a, header a:visited {
  color: var(--anti-positive-color); /* Override the foreground-color rule imposed on all links */
  margin: 0 10px;
}
header img { /* Stretch img? (usefulness is questionable) */
  height: 100%;
}
header nav.floatright { /* Align items designated for the right side */
  float: right;
}
#menu {
  cursor: pointer;
  display: none;
}
@media only screen and (max-width: 720px) {
  #menu {
    display: inline-block;
  }
  nav > *:not(#menu) {
    display: none;
  }
}

/* || Main */
main {
  margin: 10px;
  text-align: center;
}

/* || Footer */
/* https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/ */
body {
  position: relative;
  min-height: 100vh;
}
main {
  padding-bottom: calc(1.5rem + 40px); /* Footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1.5rem; /* Footer height */
  margin: 10px 0;
  text-align: center;
}
